SUPABASE_URL=https:https://tvrzemytjxjchuuvbckj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2cnplbXl0anhqY2h1dXZiY2tqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDMwOTYyMywiZXhwIjoyMDk1ODg1NjIzfQ.5mv75oWzLXty_ahuZcJleKf6l5_-Z2zjPEVuvohaMf8
ADMIN_PASSWORD=admin123
